#wrapper{
	background:url("ny.jpg");
	width:1650px;
	height:960px;
}
body {
    background: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 3000;
	font-size:1.3em;
    color: #222;
}

h1 {
    font-weight: 300;
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 6px;
}

h1:last-of-type {
    margin-top: 36px;
}

section > div {
    display: inline-block;
    margin: 0  6px;
}

section > div > div {
    background: white;
    padding: 7px;
    font-size: 1.3em;
}

section {
    padding: 12px;
    border-radius: 17px;
    text-align: center;
}

ol {
    padding: 0;
    margin: 0;
    margin-top: 21px;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
} 
section,h1,div{
	color:white;
}
#d,#h,#m,#s{
	color:black;
}